<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel='stylesheet' type='text/css' href='/css/alert.css' />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('../partials/sidebar'); %>

        <!-- Page Content  -->
        <div id="content">
            <!-- Top Bar  -->
            <%- include('../partials/topNav'); %>
            
            <% if(typeof error != 'undefined') { %>
              <% if(error === 0) { %>
                <div class="alertsuccess">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>Successfully Updated Password!</strong>
                </div>
                <% } else { %>
                <div class="alertfail">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>Old Password Does Not Match </strong><%= error %>
                </div>
            <% }%>
            <% }%>
            
            <!-- Content Here! -->
            <h3> Change Your Password </h3>

            <form method="post" action="/changePassword" autocomplete="off">
              <div class="form-group">
                <label for="exampleFormControlInput1">Old Password</label>
                <input name="oldpass" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Old Password">
              </div>

              <br>
              <div class="form-group">
                <label for="exampleFormControlInput1">New Password</label>
                <input name="newpass" type="password" class="form-control" id="exampleFormControlInput1" placeholder="New Password">
              </div>
              <br>
                <button type="submit" onclick="clicked(event)" class="btn btn-dark">Submit</button>

              </form>

            <!-- Content Ends Here! -->
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        $(document).ready(function(){

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount:1,
        searchResultLimit:5,
        renderChoiceLimit:5
        });
        
        function clicked(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }

        });
    </script>
    
</body>

</html>