<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<% if(typeof error != 'undefined') { %>
    <div class="alertfail">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>Email or Password is invalid </strong>
    </div>
<% }%>

<body class="container" style="padding-top: 10%; padding-right: 15%; padding-left: 15%;">
    <main>
        <h1>Login</h1>
        <form method="post" action="/" autocomplete="off">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input name="email" type="text" class="form-control"><!--id="exampleInputEmail1" aria-describedby="emailHelp"-->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input name="pass" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <!-- <div class="jumbotron">
            <h1>Top Mascots</h1>
            <p><%= tagline %></p>
            <ul>
                <% mascots.forEach(function(mascot) { %>
                    <li>
                        <strong><%= mascot.name %></strong>
                        representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                    </li>
                <% }); %>
            </ul>
        </div> -->
    </main>

</body>
</html>
