<!DOCTYPE html>
<html>

<head>
    <title>Investigate</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel="stylesheet" type="text/css" href="/css/loading.css"  />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>         
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('../partials/sidebar'); %>

        <!-- Page Content  -->
        <div id="content">
            <!-- Top Bar  -->
            <%- include('../partials/topNav'); %>

            <!-- Content Here! -->
            
            <div id="loadingModal" class="modal">
                <div class="modal-content">
                    <p>Analysis in progress... Please do not refresh</p>
                    <div class="loader"></div>
                </div>
            </div>
            
            <h3> Investigate Evidence </h3>

            <form method="post" action="/investigate/?caseId=<%=caseid%>&evidenceId=<%=evidenceid%>&pathId=<%=pathid%>" autocomplete="off">
                <div class="form-group">
                    <label for="exampleFormControlInput1" style="margin-top: 35x; font-weight:bold;">Evidence Name</label>
                    <input name="evidenceName" type="name" class="form-control" id="exampleFormControlInput1" placeholder="<%= evidenceName %>" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="margin-top: 35px; font-weight:bold;">Tool Name</label>
                    <br>
                    <FORM>
                        Search <input type="text" id="searchInput" onkeyup="searchSel()">
                    <br>
                    <br>
                    <select id="toolName" name="toolName" class="form-select" aria-label="Default select example">
                        <optgroup label="Network" class="network">
                            <% for(var i=0; i < networkToolList.length; i++) { %>
                                <option value= <%= networkToolList[i].id %>> <%= networkToolList[i].name %></option> 
                            <% } %>
                        </optgroup>
                        <optgroup label="Memory" class="memory">
                            <% for(var i=0; i < memoryToolList.length; i++) { %>
                                <option value= <%= memoryToolList[i].id %>> <%= memoryToolList[i].name %></option> 
                            <% } %>
                        </optgroup>
                        <optgroup label="Executable" class="executable">
                            <% for(var i=0; i < steganographyToolList.length; i++) { %>
                                <option value= <%= steganographyToolList[i].id %>> <%= steganographyToolList[i].name %></option> 
                            <% } %>
                        </optgroup>
                    </select>
                    <% if (typeof toolName !=='undefined' ) { %>
                        <script>
                            let toolName = '<%-toolName%>';
                            document.getElementById('toolName').value = toolName;
                        </script>
                    <% } %>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="margin-top: 35px; font-weight:bold;">Analysis Level</label>
                    <select id="analysisName" name="analysisName" class="form-select" aria-label="Default select example">
                        <% for(var i=0; i < analysisList.length; i++) { %>
                            <option value= <%= analysisList[i].id %>> <%= analysisList[i].name %></option> 
                            <% } %>
                    </select>

                </form>
                           
                <br>
                <button type="submit" onclick="clicked(event)" class="btn btn-dark">Submit</button>
              </form>
            
            <textarea style="margin-top: 1%;" class="form-control" id="exampleFormControlTextarea1" rows="20" readonly><%=investigateDetails%></textarea>
            <!-- Content Ends Here! -->
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        $(document).ready(function(){
        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount:5,
        searchResultLimit:5,
        renderChoiceLimit:5
        });        
        });
    </script>
    <script>
        var dateEl = document.getElementById('date');
        var timeEl = document.getElementById('time');

        document.getElementById('date-output').innerHTML = dateEl.type === 'date';
        document.getElementById('time-output').innerHTML = timeEl.type === 'time';
    </script>

    <script>
        function clicked(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            } else {
                var modal = document.getElementById("loadingModal");
                modal.style.display = "block";
            }
        }
    </script>
    <script>
    function searchSel() {
        var input=document.getElementById('searchInput').value.toLowerCase();
        var output=document.getElementById('toolName').options;
        for(var i=0;i<output.length;i++) {
            if(output[i].value.indexOf(input)==0){
            output[i].selected=true;
            }
            if(document.getElementById('searchInput').value==''){
            output[0].selected=true;
            }
        }
        }
    </script>

    
</body>

</html>
