<!DOCTYPE html>
<html>

<head>
    <title>Investigate</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
             
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('../partials/sidebar'); %>

        <!-- Page Content  -->
        <div id="content">
            <!-- Top Bar  -->
            <%- include('../partials/topNav'); %>

            <!-- Content Here! -->
            <h3> Investigate Evidence Here </h3>

            <form method="post" action="/investigate/?caseId=<%=caseid%>&evidenceId=<%=evidenceid%>&pathId=<%=pathid%>" autocomplete="off">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Evidence Name</label>
                    <input name="evidenceName" type="name" class="form-control" id="exampleFormControlInput1" placeholder="<%= evidenceName %>" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="margin-top: 20px;">List of Forensic Tools</label>
                    <select id="toolName" name="toolName" class="form-select" aria-label="Default select example">
                        <option value="wireshark">Wireshark</option>
                        <option value="test">Test</option>
                    </select>
                    <% if (typeof toolName !== 'undefined') { %>
                         <script>
                             let toolName = '<%-toolName%>';
                             document.getElementById('toolName').value = toolName;
                         </script>
                    <% } %>
                </form>
                           
                <br>
                <button type="submit" onclick="clicked(event)" class="btn btn-dark">Run Tool</button>
              </form>

              <textarea style="margin-top: 1%;" class="form-control" id="exampleFormControlTextarea1" rows="20" readonly><%=investigateDetails%></textarea>
            <!-- Content Ends Here! -->
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        $(document).ready(function(){

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount:5,
        searchResultLimit:5,
        renderChoiceLimit:5
        });
        });
    </script>
    <script>
        var dateEl = document.getElementById('date');
        var timeEl = document.getElementById('time');

        document.getElementById('date-output').innerHTML = dateEl.type === 'date';
        document.getElementById('time-output').innerHTML = timeEl.type === 'time';
    </script>

    <script>
        function clicked(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    </script>

    
</body>

</html>
